/docs/website/

/tools/page_cycler/acid3/

/chrome/

/v8/

/third_party/
testing/libfuzzer/fuzzers/wasm_corpus
/build/__pycache__/
/build/toolchain/__pycache__/
/buildtools/clang_format/script/
/buildtools/third_party/libc++/trunk/
/buildtools/third_party/libc++abi/trunk/
/buildtools/third_party/libunwind/trunk/
/out/
/tools/json_comment_eater/__pycache__/

*.sw?
.vscode/
__pycache__/
