/docs/website/

/tools/page_cycler/acid3/

/cef/

/chrome/

/v8/

/third_party/
testing/libfuzzer/fuzzers/wasm_corpus
/build/__pycache__/
/build/toolchain/__pycache__/
/buildtools/clang_format/script/
/buildtools/third_party/libc++/trunk/
/buildtools/third_party/libc++abi/trunk/
/buildtools/third_party/libunwind/trunk/
/ohos_sdk/.version
/ohos_sdk/14/
/ohos_sdk/18
/ohos_sdk/ets/
/ohos_sdk/js/
/ohos_sdk/llvm/
/ohos_sdk/native/
/ohos_sdk/ohos-sdk/
/ohos_sdk/openharmony/
/ohos_sdk/previewer/
/ohos_sdk/rust-toolchain/
/ohos_sdk/toolchains/
/out/
/tools/json_comment_eater/__pycache__/
/arkweb/ohos_nweb/include/
/arkweb/glue/
/arkweb/ohos_nweb_ex/
/ohos_nweb_ex/
/ohos_nweb_turbo/
/ohos_nweb/
/ohos_glue/
/ohos_build/
/ohos_browser_shell/
/ohos/patch/
/arkweb/ohos_nweb_ex/

*.sw?
.vscode/
__pycache__/
