# build
/ui/...scenic* @Build
/ui/...fuchsia* @Build
/tools/web_dev_style/ @Build
/tools/warning_analysis/ @Build
/tools/vscode/ @Build
/tools/vim/ @Build
/tools/utr/ @Build
/tools/symsrc/ @Build
/tools/sublime/ @Build
/tools/python/ @Build
/tools/origin_trials/third_party/ed25519/ @Build
/tools/memory/ @Build
/tools/md_browser/ @Build
/tools/mb/ @Build
/tools/mac/ @Build
/tools/linux/ @Build
/tools/licenses/ @Build
/tools/l10n/ @Build
/tools/json_schema_compiler/ @Build
/tools/json_data_generator/ @Build
/tools/ipc_fuzzer/ @Build
/tools/idl_parser/ @Build
/tools/gritsettings/ @Build
/tools/grit/ @Build
/tools/gn/bootstrap/ @Build
/tools/get_swarming_logs/ @Build
/tools/get_asan_chrome/ @Build
/tools/generate_library_loader/ @Build
/tools/gdb/ @Build
/tools/fuchsia/ @Build
/tools/flags/ @Build
/tools/find_runtime_symbols/ @Build
/tools/dump_process_memory/ @Build
/tools/disable_tests/ @Build
/tools/determinism/ @Build
/tools/cygprofile/ @Build
/tools/cros/ @Build
/tools/crbug/ @Build
/tools/cr/ @Build
/tools/codeql/ @Build
/tools/code_coverage/ @Build
/tools/code_coverage/js_source_maps/create_js_source_maps/ @Build
/tools/clang/stack_maps/ @Build
/tools/clang/spanify/ @Build
/tools/clang/scripts/ @Build
/tools/clang/rewrite_to_chrome_style/ @Build
/tools/clang/rewrite_templated_container_fields/ @Build
/tools/clang/rewrite_autofill_personal_data_manager/ @Build
/tools/clang/rewrite_autofill_form_data/ @Build
/tools/clang/raw_ptr_plugin/ @Build
/tools/clang/iterator_checker @Build
/tools/clang/blink_gc_plugin/ @Build
/tools/chrome_extensions/open_my_editor/ @Build
/tools/checkperms/ @Build
/tools/checklicenses/ @Build
/tools/cfi/ @Build
/tools/cast3p/ @Build
/tools/captured_sites/ @Build
/tools/bisect/ @Build
/tools/binary_size/ @Build
/tools/android/modularization/owners/ @Build
/tools/android/modularization/convenience/ @Build
/tools/android/errorprone_plugin/ @Build
/tools/android/elf_compression/ @Build
/tools/android/dependency_analysis/js @Build
/tools/android/customtabs_benchmark/ @Build
/tools/android/build_speed/ @Build
/testing/BUILD.gn @Build
/testing/*.gni @Build
/testing/buildbot/tryserver.webrtc.json @Build
/testing/buildbot/chromium.webrtc.json @Build
/testing/buildbot/chromium.webrtc.fyi.json @Build
/testing/buildbot/chromium.rust.json @Build
/testing/buildbot/chromium.perf.fyi.json @Build
/testing/buildbot/chromium.mac.json @Build
/testing/buildbot/chromium.fyi.json @Build
/testing/buildbot/chromium.fuchsia.json @Build
/testing/buildbot/chromium.fuchsia.fyi.json @Build
/testing/buildbot/chromium.clang.json @Build
/testing/buildbot/filters/fuchsia* @Build
/skia/*_fuchsia* @Build
/BUILD.gn @Build
/.rustfmt.toml @Build
/.gn @Build
/net/base/*_fuchsia* @Build
/native_client_sdk/src/doc/ @Build
/mojo/public/tools/bindings/generators/mojom_rust_generator.py @Build
/mojo/..._fuchsia* @Build
/media/..._fuchsia* @Build
/infra/scripts/ @Build
/infra/orchestrator/ @Build
/infra/config/targets/ @Build
/infra/config/subprojects/webrtc/ @Build
/infra/config/subprojects/findit/ @Build
/infra/config/subprojects/chromium/try/tryserver.chromium.mac.star @Build
/infra/config/subprojects/chromium/try/tryserver.chromium.fuchsia.star @Build
/infra/config/subprojects/chromium/try/tryserver.chromium.dawn.star @Build
/infra/config/subprojects/chromium/ci/chromium.mac.star @Build
/infra/config/subprojects/chromium/ci/chromium.fyi.star @Build
/infra/config/subprojects/chromium/ci/chromium.fuchsia.star @Build
/infra/config/subprojects/chromium/ci/chromium.fuchsia.fyi.star @Build
/infra/config/subprojects/chromium/ci/chromium.dawn.star @Build
/infra/config/lib/xcode.star @Build
/infra/config/lib/targets-internal/ @Build
/infra/config/groups/sheriff-rotations/FUCHSIA_OWNERS @Build
/infra/config/groups/sheriff-rotations/DAWIN_OWNERS @Build
/infra/config/groups/sheriff-rotations/CHROMIUMOS_OWNERS @Build
/infra/config/groups/sheriff-rotations/CHROMIUM_OWNERS @Build
/infra/config/groups/sheriff-rotations/CHROMIUM_FUZZ_OWNERS @Build
/infra/config/groups/sheriff-rotations/CHROMIUM_CLANG_OWNERS @Build
/infra/config/groups/sheriff-rotations/CFT_OWNERS @Build
/infra/config/groups/sheriff-rotations/ANGLE_OWNERS @Build
/infra/config/groups/sheriff-rotations/ANDROID_OWNERS @Build
/infra/config/groups/perf/ @Build
/infra/config/groups/ios/ @Build
/infra/config/groups/gpu/ @Build
/infra/config/groups/foundry-x/ @Build
/infra/config/groups/cq-usage/CQ_USAGE_SECONDARY_OWNERS @Build
/infra/config/groups/cq-usage/CQ_USAGE_OWNERS @Build
/infra/config/groups/chrome-build/ @Build
/infra/config/generated/sheriff-rotations/fuchsia.txt @Build
/infra/config/generated/sheriff-rotations/dawn.txt @Build
/infra/config/generated/sheriff-rotations/chromiumos.txt @Build
/infra/config/generated/sheriff-rotations/chromium.txt @Build
/infra/config/generated/sheriff-rotations/chromium.gpu.txt @Build
/infra/config/generated/sheriff-rotations/chromium.clang.txt @Build
/infra/config/generated/sheriff-rotations/cft.txt @Build
/infra/config/generated/sheriff-rotations/angle.txt @Build
/infra/config/generated/sheriff-rotations/android.txt @Build
/infra/config/generated/builders/*/*/targets/chromium.webrtc.json @Build
/infra/config/generated/builders/*/*/targets/chromium.webrtc.fyi.json @Build
/infra/config/generated/builders/*/*/targets/chromium.rust.json @Build
/infra/config/generated/builders/*/*/targets/chromium.mac.json @Build
/infra/config/generated/builders/*/*/targets/chromium.fyi.json @Build
/infra/config/generated/builders/*/*/targets/chromium.fuchsia.json @Build
/infra/config/generated/builders/*/*/targets/chromium.fuchsia.fyi.json @Build
/infra/config/generated/builders/*/*/targets/chromium.clang.json @Build
/infra/config/generated/builders/*/*/targets/chromium.build.json @Build
/infra/config/generated/builders/*/*/targets/chromium.build.fyi.json @Build
/infra/config/generated/cq-usage/full.config @Build
/headless/*.cmx @Build
/fuchsia_web/webinstance_host/*.cml @Build
/fuchsia_web/webengine/test/*.cmx @Build
/fuchsia_web/webengine/*.cmx @Build
/fuchsia_web/webengine/*.cml @Build
/fuchsia_web/shell/*.cmx @Build
/fuchsia_web/shell/*.cml @Build
/fuchsia_web/runners/cast/*.cmx @Build
/fuchsia_web/runners/cast/*.cml @Build
/fuchsia_web/runners/cast/fidl/*.fidl @Build
/content/web_test/ @Build
/content/test/...fuchsia* @Build
/content/test/gpu/gpu_tests/test_expectations/ @Build
/content/test/data/ @Build
/content/test/shell/fuchsia/*.cml @Build
/content/test/shell/android/ @Build
/content/...fuchsia* @Build
/chromecast/...fuchsia* @Build
/buildtools/third_party/libunwind/ @Build
/buildtools/third_party/libc++abi/ @Build
/buildtools/third_party/libc++/ @Build
/buildtools/third_party/eu-strip/ @Build
/buildtools/clang_format/ @Build
/build_overrides/ @Build
/build/util/lib/results/ @Build
/build/util/lib/proto/ @Build
/build/skia_gold_common/ @Build
/build/sanitizers/ @Build
/build/rust/ @Build
/build/xcode_binaries.yaml @Build
/build/mac_toolchain.py @Build
/build/linux/ @Build
/build/lacros/ @Build
/build/fuchsia/SECURITY_OWNERS @Build
/build/config/siso/ @Build
/build/config/profiling/ @Build
/build/config/rust.gni @Build
/build/config/cast.gni @Build
/build/config/linux/ @Build
/build/config/fuchsia/test/*.test-cml @Build
/build/config/freetype/ @Build
/build/config/coverage/ @Build
/build/config/chromecast/ @Build
/build/chromeos/ @Build
/build/args/headless.gn @Build
/build/apple/ @Build
/build/android/pylib/local/emulator/ @Build
/build/android/pylib/gtest/filter/ @Build
/build/android/gyp/ @Build
/build/android/gradle/ @Build
/base/process/launch_fuchsia.* @Build
/base/...fuchsia* @Build
/base/fuchsia/filtered_service_directory.* @Build
/apps/ @Build

# EventHandler
/arkweb/ohos_adapter_ndk/color_picker_adapter/ @EventHandler
/arkweb/ohos_adapter_ndk/pasteboard_adapter/ @EventHandler
/arkweb/ohos_nweb/src/capi/nweb_context_menus_item.h @EventHandler
/arkweb/ohos_nweb/src/capi/nweb_context_menus_on_clicked_data.h @EventHandler
/arkweb/ohos_nweb/src/cef_delegate/nweb_context_menu_params_impl.h @EventHandler
/arkweb/ohos_nweb/src/cef_delegate/nweb_context_menu_params_impl.cc @EventHandler
/arkweb/ohos_nweb/src/cef_delegate/nweb_cursor_info_impl.h @EventHandler
/arkweb/ohos_nweb/src/cef_delegate/nweb_cursor_info_impl.cc @EventHandler
/arkweb/ohos_nweb/src/cef_delegate/nweb_date_time_chooser_impl.h @EventHandler
/arkweb/ohos_nweb/src/cef_delegate/nweb_date_time_chooser_impl.cc @EventHandler
/arkweb/ohos_nweb/src/cef_delegate/nweb_drag_data_impl.h @EventHandler
/arkweb/ohos_nweb/src/cef_delegate/nweb_drag_data_impl.cc @EventHandler
/arkweb/ohos_nweb/src/cef_delegate/nweb_file_selector_params_impl.h @EventHandler
/arkweb/ohos_nweb/src/cef_delegate/nweb_file_selector_params_impl.cc @EventHandler
/arkweb/ohos_nweb/src/cef_delegate/nweb_select_menu_bound_impl.h @EventHandler
/arkweb/ohos_nweb/src/cef_delegate/nweb_select_menu_bound_impl.cc @EventHandler
/arkweb/ohos_nweb/src/cef_delegate/nweb_select_popup_menu_impl.h @EventHandler
/arkweb/ohos_nweb/src/cef_delegate/nweb_select_popup_menu_impl.cc @EventHandler
/arkweb/ohos_nweb/src/cef_delegate/nweb_touch_handle_hot_zone_impl.h @EventHandler
/arkweb/ohos_nweb/src/cef_delegate/nweb_touch_handle_hot_zone_impl.cc @EventHandler
/arkweb/ohos_nweb/src/cef_delegate/nweb_touch_handle_state_impl.h @EventHandler
/arkweb/ohos_nweb/src/cef_delegate/nweb_touch_handle_state_impl.cc @EventHandler

/components/zoom/ @EventHandler
/components/password_manager/ @EventHandler
/components/autofill/ @EventHandler
/components/autofill_ai/ @EventHandler
/components/autofill_payments_strings_grdp/ @EventHandler
/components/autofill_prediction_improvements_strings_grdp/ @EventHandler
/components/autofill_strings_grdp/ @EventHandler
/components/eye_dropper/ @EventHandler

/ui/aura/gestures/ @EventHandler
/ui/events/gestures/ @EventHandler
/ui/events/gestures_detection/ @EventHandler
/ui/base/dragdrop/ @EventHandler
/ui/base/clipboard/ @EventHandler

# MultiMedia
/arkweb/ohos_adapter_ndk/audio_adapter/ @d0ub1eh @whuqincheng
/arkweb/ohos_adapter_ndk/camera_adapter/ @d0ub1eh @whuqincheng
/arkweb/ohos_adapter_ndk/media_adapter/ @d0ub1eh @whuqincheng
/arkweb/ohos_adapter_ndk/ohos_image_adapter/ @d0ub1eh @whuqincheng
/arkweb/ohos_adapter_ndk/screen_capture_adapter/ @d0ub1eh @whuqincheng
/arkweb/ohos_nweb/src/napi/nweb_screencapture_delegate_callback.h @d0ub1eh @whuqincheng
/arkweb/ohos_nweb/src/native_media_player/ @d0ub1eh @whuqincheng
/arkweb/ohos_nweb/src/cef_delegate/custom_media_player_impl.cc @d0ub1eh @whuqincheng
/arkweb/ohos_nweb/src/cef_delegate/nweb_full_screen_exit_handler_impl.cc @d0ub1eh @whuqincheng
/arkweb/ohos_nweb/src/cef_delegate/nweb_image_options_impl.cc @d0ub1eh @whuqincheng
/arkweb/chromium_ext/media @d0ub1eh @whuqinchen


/ui/ozone/platform/drm/ @d0ub1eh @whuqincheng
/tools/perf/page_sets/media_cases/ @d0ub1eh @whuqincheng
/tools/metrics/histograms/metadata/media/ @d0ub1eh @whuqincheng
/tools/media_engagement_preload/ @d0ub1eh @whuqincheng
/services/video_effects/ @d0ub1eh @whuqincheng
/services/video_capture/ @d0ub1eh @whuqincheng
/services/media_session/ @d0ub1eh @whuqincheng
/services/image_annotation/ @d0ub1eh @whuqincheng
/services/audio/ @d0ub1eh @whuqincheng
/remoting/ @d0ub1eh @whuqincheng
/media/ @d0ub1eh @whuqincheng
/extensions/browser/api/media_perception_private/ @d0ub1eh @whuqincheng
/content/renderer/media/ @d0ub1eh @whuqincheng
/content/common/media/ @d0ub1eh @whuqincheng
/content/browser/webrtc/ @d0ub1eh @whuqincheng
/content/browser/resources/media/ @d0ub1eh @whuqincheng
/content/browser/renderer_host/media/ @d0ub1eh @whuqincheng
/content/browser/media/webaudio/ @d0ub1eh @whuqincheng
/content/browser/media/ @d0ub1eh @whuqincheng
/components/translate/ @d0ub1eh @whuqincheng
/components/test/data/webp_transcode/ @d0ub1eh @whuqincheng
/components/system_media_controls/ @d0ub1eh @whuqincheng
/components/resources/translate_resources.grdp @d0ub1eh @whuqincheng
/components/page_image_service/ @d0ub1eh @whuqincheng
/components/translate_strings.grdp @d0ub1eh @whuqincheng
/components/media_message_center_strings.grdp @d0ub1eh @whuqincheng
/components/global_media_controls_strings.grdp @d0ub1eh @whuqincheng
/components/media_router/common/providers/cast/certificate/
/components/media_message_center/ @d0ub1eh @whuqincheng
/components/media_effects/ @d0ub1eh @whuqincheng
/components/media_device_salt/ @d0ub1eh @whuqincheng
/components/media_control/ @d0ub1eh @whuqincheng
/components/global_media_controls/ @d0ub1eh @whuqincheng
/components/chromeos_camera/ @d0ub1eh @whuqincheng
/components/cdm/ @d0ub1eh @whuqincheng
/components/cast_streaming/ @d0ub1eh @whuqincheng
/chromecast/media/ @d0ub1eh @whuqincheng

# DFX
/arkweb/ohos_nweb/src/capi/nweb_logger_callback.h @DFX
/arkweb/ohos_nweb/src/capi/nweb_logger_report_event_callback.h @DFX
/arkweb/ohos_nweb/src/capi/nweb_statistic_callback.h @DFX
/arkweb/ohos_nweb/src/cef_delegate/nweb_console_log_impl.cc @DFX
/arkweb/ohos_nweb/src/nweb_hilog.h @DFX
/arkweb/ohos_nweb/src/nweb_sysevent.gni @DFX
/arkweb/ohos_nweb/src/sysevent/ @DFX

# Framework
/arkweb/ut_tools/ @Framework 
/arkweb/ohos_nweb/src/capi/arkweb_error_code.h @Framework 
/arkweb/ohos_nweb/src/capi/arkweb_type.h @Framework 
/arkweb/ohos_nweb/src/capi/nweb_capi_export.h @Framework 
/arkweb/ohos_nweb/src/cef_delegate/nweb_accessibility_node_info_impl.cc @Framework 
/arkweb/ohos_nweb/src/cef_delegate/nweb_controller_handler_impl.cc @Framework 
/arkweb/ohos_nweb/src/cef_delegate/nweb_default_engine_init_args_impl.cc @Framework 
/arkweb/ohos_nweb/src/nweb_delegate_adapter.cc @Framework 
/arkweb/ohos_nweb/src/nweb_delegate_adapter.h @Framework 
/ui/views/accessibility/ @Framework 
/ui/accessibility/ @Framework 
/styleguide/c++/ @Framework 
/services/test/echo/ @Framework 
/services/test/data/ @Framework 
/services/service_manager/ @Framework 
/services/data_decoder/ @Framework 
/services/accessibility/ @Framework 

# Compositor
/ui/display/win/ @Compositor
/ui/display/util/ @Compositor
/ui/compositor/ @Compositor
/ui/color/ @Compositor
/skia/ @Compositor
/gpu/webgpu/ @Compositor
/gpu/vulkan/ @Compositor
/gpu/perftests/ @Compositor
/gpu/GRAPHICS_TEAM_OWNERS @Compositor
/gpu/ipc/common/gpu_watchdog_timeout.h @Compositor
/gpu/ipc/common/generate_vulkan_types.py @Compositor
/gpu/GLES2/ @Compositor
/gpu/config/webgpu* @Compositor
/gpu/command_buffer/ @Compositor
/content/gpu/ @Compositor
/content/browser/screen_details/ @Compositor
/content/browser/gpu/ @Compositor
/content/browser/resources/gpu/ @Compositor
/content/browser/compositor/*viz* @Compositor
/components/viz/service/layers/ @Compositor
/components/viz/service/input/ @Compositor
/components/viz/service/gl/ @Compositor
/components/viz/service/frame_sinks/video_capture/ @Compositor
/components/viz/host/client_frame_sink_video_capturer* @Compositor
/components/viz/common/hit_test/ @Compositor

#交互安全
/arkweb/ohos_adapter_ndk/access_token_adapter/ @zhu-sheng-le
/arkweb/ohos_adapter_ndk/inputmethodframework_adapter/ @zhu-sheng-le
/arkweb/ohos_adapter_ndk/keystore_adapter/ @zhu-sheng-le

# Storage
/arkweb/ohos_nweb/src/capi/nweb_app_client_extension_callback.h @yuzhouhang1
/arkweb/ohos_nweb/src/cef_delegate/nweb_access_query_delegate.cc @yuzhouhang1
/arkweb/ohos_nweb/src/cef_delegate/nweb_access_query_delegate.cc @yuzhouhang1
/arkweb/ohos_nweb/src/cef_delegate/nweb_data_resubmission_callback_impl.cc @yuzhouhang1
/arkweb/ohos_nweb/src/cef_delegate/nweb_preference_delegate.cc @yuzhouhang1
/arkweb/ohos_nweb/src/cef_delegate/nweb_preference_delegate_unittest.cc @yuzhouhang1
/arkweb/ohos_nweb/src/cef_delegate/nweb_web_storage_delegate.cc @yuzhouhang1
/arkweb/ohos_nweb/src/cef_delegate/nweb_web_storage_origin_impl.cc @yuzhouhang1
/arkweb/ohos_nweb/src/nweb_access_query.h @yuzhouhang1
/arkweb/ohos_nweb/src/nweb_data_base_impl.cc @yuzhouhang1
/arkweb/ohos_nweb/src/nweb_data_base_impl.h @yuzhouhang1
/arkweb/ohos_nweb/src/nweb_file_writer_cleaner.cc @yuzhouhang1
/arkweb/ohos_nweb/src/nweb_file_writer_cleaner.h @yuzhouhang1
/arkweb/ohos_nweb/src/nweb_web_storage_delegate_interface.h @yuzhouhang1
/arkweb/ohos_nweb/src/nweb_web_storage_impl.cc @yuzhouhang1
/arkweb/ohos_nweb/src/nweb_web_storage_impl.h @yuzhouhang1

/ui/base/data_transfer_policy/ @yuzhouhang1
/storage/ @yuzhouhang1
/storage/browser/quota/ @yuzhouhang1
/storage/browser/file_system/ @yuzhouhang1
/storage/browser/database/ @yuzhouhang1
/storage/browser/blob/ @yuzhouhang1
/sql/ @yuzhouhang1
/services/preferences/tracked/ @yuzhouhang1
/services/preferences/ @yuzhouhang1
/content/public/test/*file_system* @yuzhouhang1
/content/browser/storage_service* @yuzhouhang1
/content/browser/storage_partition* @yuzhouhang1
/content/browser/indexed_db/ @yuzhouhang1
/content/browser/file_system_access/ @yuzhouhang1
/content/browser/dom_storage/ @yuzhouhang1
/content/browser/content_index/ @yuzhouhang1
/content/browser/cache_storage/ @yuzhouhang1
/content/browser/buckets/ @yuzhouhang1
/components/webdata/ @yuzhouhang1
/components/web_cache/ @yuzhouhang1
/components/value_store/ @yuzhouhang1
/components/storage_monitor/ @yuzhouhang1
/components/sqlite_proto/ @yuzhouhang1
/components/services/unzip/ @yuzhouhang1
/components/services/storage/shared_storage/ @yuzhouhang1
/components/prefs/ @yuzhouhang1
/components/prefs/android/ @yuzhouhang1
/components/leveldb_proto/ @yuzhouhang1
/components/desks_storage/ @yuzhouhang1
/components/data_sharing/ @yuzhouhang1
/components/content_settings/ @yuzhouhang1
/components/affiliations/ @yuzhouhang1