/* Copyright 2014 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* This file is dynamically processed by a C++ data source handler to fill in
 * some per-platform/locale styles that dramatically alter the page. This is
 * done to reduce flicker, as JS may not run before the page is rendered. */

body {
  font-family: $i18nRaw{fontfamily};
  font-size: $i18n{fontsize};
}

button {
  font-family: $i18nRaw{fontfamily};
}
