bad_archive.zip filter=lfs diff=lfs merge=lfs -text
bug953599.zip filter=lfs diff=lfs merge=lfs -text
good_archive.zip filter=lfs diff=lfs merge=lfs -text
SJIS[[:space:]]05.zip filter=lfs diff=lfs merge=lfs -text
DifferentEncryptions.zip filter=lfs diff=lfs merge=lfs -text
SJIS[[:space:]]03.zip filter=lfs diff=lfs merge=lfs -text
SJIS[[:space:]]07.zip filter=lfs diff=lfs merge=lfs -text
SJIS[[:space:]]12.zip filter=lfs diff=lfs merge=lfs -text
SJIS[[:space:]]02.zip filter=lfs diff=lfs merge=lfs -text
SJIS[[:space:]]06.zip filter=lfs diff=lfs merge=lfs -text
SJIS[[:space:]]08.zip filter=lfs diff=lfs merge=lfs -text
SJIS[[:space:]]09.zip filter=lfs diff=lfs merge=lfs -text
Wrong[[:space:]]CRC.zip filter=lfs diff=lfs merge=lfs -text
Duplicate[[:space:]]Filenames.zip filter=lfs diff=lfs merge=lfs -text
SJIS[[:space:]]00.zip filter=lfs diff=lfs merge=lfs -text
SJIS[[:space:]]01.zip filter=lfs diff=lfs merge=lfs -text
SJIS[[:space:]]04.zip filter=lfs diff=lfs merge=lfs -text
SJIS[[:space:]]10.zip filter=lfs diff=lfs merge=lfs -text
SJIS[[:space:]]11.zip filter=lfs diff=lfs merge=lfs -text
SJIS[[:space:]]13.zip filter=lfs diff=lfs merge=lfs -text
UTF8[[:space:]](Bug[[:space:]]903664).zip filter=lfs diff=lfs merge=lfs -text
encrypted_archive.zip filter=lfs diff=lfs merge=lfs -text
