blogspot_2018/blogspot_2018.zip filter=lfs diff=lfs merge=lfs -text
cnn_2018/cnn_2018.zip filter=lfs diff=lfs merge=lfs -text
facebook_2018/facebook_2018.zip filter=lfs diff=lfs merge=lfs -text
accu_weather_2018/accu_weather_2018.zip filter=lfs diff=lfs merge=lfs -text
amazon_2018/amazon_2018.zip filter=lfs diff=lfs merge=lfs -text
ebay_2018/ebay_2018.zip filter=lfs diff=lfs merge=lfs -text
espn_2018/espn_2018.zip filter=lfs diff=lfs merge=lfs -text
gmail_2018/gmail_2018.zip filter=lfs diff=lfs merge=lfs -text
google_calendar_2018/google_calendar_2018.zip filter=lfs diff=lfs merge=lfs -text
linkedin_2018/linkedin_2018.zip filter=lfs diff=lfs merge=lfs -text
google_docs_2018/google_docs_2018.zip filter=lfs diff=lfs merge=lfs -text
google_image_search_2018/google_image_search_2018.zip filter=lfs diff=lfs merge=lfs -text
google_plus_2018/google_plus_2018.zip filter=lfs diff=lfs merge=lfs -text
google_web_search_2018/google_web_search_2018.zip filter=lfs diff=lfs merge=lfs -text
wordpress_2018/wordpress_2018.zip filter=lfs diff=lfs merge=lfs -text
yahoo_answers_2018/yahoo_answers_2018.zip filter=lfs diff=lfs merge=lfs -text
yahoo_sports_2018/yahoo_sports_2018.zip filter=lfs diff=lfs merge=lfs -text
pinterest_2018/pinterest_2018.zip filter=lfs diff=lfs merge=lfs -text
techcrunch_2018/techcrunch_2018.zip filter=lfs diff=lfs merge=lfs -text
twitch_2018/twitch_2018.zip filter=lfs diff=lfs merge=lfs -text
twitter_2018/twitter_2018.zip filter=lfs diff=lfs merge=lfs -text
wikipedia_2018/wikipedia_2018.zip filter=lfs diff=lfs merge=lfs -text
